
{{#each posts as |post|}}
  {{#if post.isBlogPost}}
    
    <div class="blogpost-title"><a href="{{post.url}}"><h2>{{post.title}}</h2></a></div>
    
    <div class="blogpost-description">{{{post.description}}}</div>
  
  {{else}}
    
      <div class="post-title"><a href="{{post.url}}"><h2>{{post.title}}<br></h2></a></div>
  
      {{#if post.image_url}}
        <a href="{{post.url}}">
        <div class="blogpost-description">
        <img src="{{post.image_url}}">
        </div>
        </a>
        <br>
        <!-- <div class="post-img" style="background-image: url({{post.image_url}})"></div></a> -->
      {{/if}}

      {{#if post.subtitle}}
        <div class="post-title"><h3>{{post.subtitle}}</h3></div>
      {{/if}}

      {{#if post.dates}}
      <div class="post-title"><h4>{{post.dates}}</h4></div>
      <br>
      {{/if}}

      <div class="post-description">{{{post.description}}}</div><br>

      {{#if post.tags}}
      <div class="tags"><small>Tools used:</small> {{#each post.tags as |tag|}}

      <small>{{tag}}&nbsp;</small>

      {{/each}}</div>
      {{/if}}

      {{#if post.type}}
      <a href="{{post.url}}">
      <div class="post-description">See more on Medium</div></a>
      {{/if}}
      
  {{/if}}
  <hr>
{{/each}}

{{yield}}

