<header>
<div class="navbar">

  <div class="navbar-header">
    <div class="container">

      <ul class="info pull-left">
        <li>{{fa-icon "envelope"}} angie.ramirez12@gmail.com</li>
        <li>{{fa-icon "mobile"}}   908.451.0622</li>
      </ul>

      <ul class="social pull-right">
        <li><a href="http://learn.co/angyangie/resume" target="_blank"><i class="fa fa-file-text-o" ></i></a></li>
        <li><a href="https://github.com/angyangie"  target="_blank">{{fa-icon "github"}}</a></li>
        <li><a href="https://www.linkedin.com/in/angelaramirez"  target="_blank">{{fa-icon "linkedin"}}</a></li>
        <li><a href="https://twitter.com/_AngieRamirez"  target="_blank">{{fa-icon "twitter"}}</a></li>
      </ul>

      {{#link-to "about" class="navbar-brand logo skrollable skrollable-before" }}<img src="images/Logo2.png">{{/link-to}}


      <a class="btn responsive-menu pull-right glyphicon glyphicon-align-justify" data-toggle="collapse" data-target=".navbar-collapse" ></a>

    </div>

  </div>

  <div class="yamm">
  <div class="sticky-wrapper">
  <div>
    <div class="navbar-collapse collapse" style="float:none; width:100%">
      <div class="container" >


        {{#link-to "about" class="navbar-brand skrollable skrollable-before logo" }}<img src="images/Logo2.png">{{/link-to}}
        

       <ul class="nav navbar-nav pull-right">

          <li >
              {{#link-to "about"}}About{{/link-to}}
          </li>

      
          <li>
            {{#link-to "projects" }}Projects{{/link-to}}
          </li>
    
          <li>
             {{#link-to "professional-experience"}}Professional Experience{{/link-to}}
           </li>

          <li>
            {{#link-to "publications"}}Publications{{/link-to}}
          </li>
        </ul>

 </div>
</div>
</div>
</div> 
</div>

</div>

</header>

{{outlet}}

<footer>
  <div class="footer-bottom">
    <div class="container inner">
      <p class="pull-left">ANGIE RAMIREZ</p>
      <ul class="footer-menu pull-right">
        <li>{{#link-to "about"}}About{{/link-to}}</li>
        <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
        <li>{{#link-to "professional-experience"}}Professional Experience{{/link-to}}</li>
        <li>{{#link-to "publications"}}Publications{{/link-to}}</li>
      </ul>
    </div>
  </div>
</footer>